@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<TaskEntry>

<table>
    <tr>
        <th>Quadrant 1</th>
        <th>Quadrant 2</th>
    </tr>

    <tr>
        @foreach (var incompleteTask in Model)
        {
            <td>
                @if (incompleteTask.Quadrant == "Quadrant I")
                {
                    <p>@incompleteTask.Task</p>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Update" asp-route-id="@incompleteTask.TaskId">Update</a>
                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete">Delete</a>
                }
            </td>
        }

        @foreach (var incompleteTask in Model)
        {
            <td>
                @if (incompleteTask.Quadrant == "Quadrant II")
                {
                    <p>@incompleteTask.Task</p>
                }
            </td>
        }
    </tr>

    <tr>
        <th>Quadrant 3</th>
        <th>Quadrant 4</th>
    </tr>
    <tr>
        @foreach (var incompleteTask in Model)
        {
            <td>
                @if (incompleteTask.Quadrant == "Quadrant III")
                {
                    <p>@incompleteTask.Task</p>
                }
            </td>
        }

        @foreach (var incompleteTask in Model)
        {
            <td>
                @if (incompleteTask.Quadrant == "Quadrant IV")
                {
                    <p>@incompleteTask.Task</p>
                }
            </td>
        }
            
    </tr>

</table>