@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<TaskEntry>
<section class="pt-3 pt-md-5 pb-md-5 pt-lg-7 bg-gray-200">
    <div class="container" style="margin-top:100px; margin-bottom:100px;">
        <div class="card">
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <tr>
                        <th class="text-uppercase text-dark text-sm font-weight-bolder opacity-7" style="text-align: center; border-right: .8px solid #ced4da;">Quadrant 1</th>
                        <th class="text-uppercase text-dark text-sm font-weight-bolder opacity-7" style="text-align: center;">Quadrant 2</th>
                    </tr>

                    <tr>
                        <td style="border-right: .8px solid #ced4da;">
                            <div style="height:5px;font-size:1px;">&nbsp;</div>
                            @foreach (var incompleteTask in Model)
                            {
                                @if (incompleteTask.Quadrant == "Quadrant I")
                                {
                                    <div class="d-flex px-2 py-1" style="justify-content: center">
                                        <p style="margin-top:2px;">@incompleteTask.Task</p>
                                        <p>&nbsp;</p>
                                        <a class="btn bg-gradient-info btn-sm text-xxs" style="width:50px; text-align:left; padding-left: 5px;" asp-controller="Home" asp-action="Update" asp-route-id="@incompleteTask.TaskId">Update</a>
                                        <p>&nbsp;</p>
                                        <a class="btn bg-gradient-danger btn-sm text-xxs" style="width:50px; text-align:left; padding-left: 8px;" asp-controller="Home" asp-action="Delete" asp-route-id="@incompleteTask.TaskId">Delete</a>
                                        <br />
                                    </div>
                                }
                            }
                        </td>

                        <td>
                            <div style="height:5px;font-size:1px;">&nbsp;</div>
                            @foreach (var incompleteTask in Model)
                            {
                                @if (incompleteTask.Quadrant == "Quadrant II")
                                {
                                    <div class="d-flex px-2 py-1" style="justify-content: center">
                                        <p style="margin-top:2px;">@incompleteTask.Task</p>
                                        <p>&nbsp;</p>
                                        <a class="btn bg-gradient-info btn-sm text-xxs" style="width:50px; text-align:left; padding-left: 5px;" asp-controller="Home" asp-action="Update" asp-route-id="@incompleteTask.TaskId">Update</a>
                                        <p>&nbsp;</p>
                                        <a class="btn bg-gradient-danger btn-sm text-xxs" style="width:50px; text-align:left; padding-left: 8px;" asp-controller="Home" asp-action="Delete" asp-route-id="@incompleteTask.TaskId">Delete</a>
                                        <br />
                                    </div>
                                }
                            }
                        </td>
                    </tr>

                    <tr>
                        <th class="text-uppercase text-dark text-sm font-weight-bolder opacity-7" style="text-align: center; border-right: .8px solid #ced4da;">Quadrant 3</th>
                        <th class="text-uppercase text-dark text-sm font-weight-bolder opacity-7" style="text-align: center;">Quadrant 4</th>
                    </tr>
                    <tr>
                        <td style="border-right: .8px solid #ced4da;">
                            <div style="height:5px;font-size:1px;">&nbsp;</div>
                
                            @foreach (var incompleteTask in Model)
                            {
                                @if (incompleteTask.Quadrant == "Quadrant III")
                                {
                                    <div class="d-flex px-2 py-1" style="justify-content: center">
                                        <p style="margin-top:2px;">@incompleteTask.Task</p>
                                        <p>&nbsp;</p>
                                        <a class="btn bg-gradient-info btn-sm text-xxs" style="width:50px; text-align:left; padding-left: 5px;" asp-controller="Home" asp-action="Update" asp-route-id="@incompleteTask.TaskId">Update</a>
                                        <p>&nbsp;</p>
                                        <a class="btn bg-gradient-danger btn-sm text-xxs" style="width:50px; text-align:left; padding-left: 8px;" asp-controller="Home" asp-action="Delete" asp-route-id="@incompleteTask.TaskId">Delete</a>
                                        <br />
                                    </div>
                                }
                            }
                        </td>
        
                        <td>
                            <div style="height:5px;font-size:1px;">&nbsp;</div>
                            @foreach (var incompleteTask in Model)
                            {
                                @if (incompleteTask.Quadrant == "Quadrant IV")
                                {
                                    <div class="d-flex px-2 py-1" style="justify-content: center">
                                        <p style="margin-top:2px;">@incompleteTask.Task</p>
                                        <p>&nbsp;</p>
                                        <a class="btn bg-gradient-info btn-sm text-xxs" style="width:50px; text-align:left; padding-left: 5px;" asp-controller="Home" asp-action="Update" asp-route-id="@incompleteTask.TaskId">Update</a>
                                        <p>&nbsp;</p>
                                        <a class="btn bg-gradient-danger btn-sm text-xxs" style="width:50px; text-align:left; padding-left: 8px;" asp-controller="Home" asp-action="Delete" asp-route-id="@incompleteTask.TaskId">Delete</a>
                                        <br />
                                    </div>
                                }
                            }
                        </td>
        
            
                    </tr>

                </table>
            </div>
        </div>
    </div>
</section>